.company-form {
  background-color: rgba(135, 206, 235, 0.1);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-details {
  height: auto;
  width: 90%;
  background-color: white;
  padding: 4vh;
}

.company-contact-no {
  width: 25% !important;
}

.enter-your-company-description {
  height: 10vh;
}
