.painter-form-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.painter-form {
  border: 1px solid black;
  height: 50%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: aliceblue;
}

.painter-form h2 {
  text-align: center;
  font-family: Jura;
  color: rgb(59, 80, 98);
}

.painter-form .field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.painter-form .ui.button {
  align-self: center;
  margin-top: 20px;
}
